@media(min-width:1280px) {
    .sectionapropos {
        margin-top: 150vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        overflow-x: none;
        position: relative;
    }


    .border3 {
        border-top: 1px solid #ffa800;
        width: 800px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .border4 {
        border-top: 1px solid #ffa800;
        width: 800px;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .conclusionapropos {
        p {
            margin: 35px;
            max-width: 600px;
        }

        a {
            display: block;
            border: 1px solid white;
            padding: 10px;
            margin: 70px 35px;
            width: 100px;
            text-align: center;

            &:hover {
                border-color: #ffa800;
                color: #ffa800;
            }
        }
    }

}