@import '../../node_modules/modern-normalize/modern-normalize';
@import 'utils/variables';
@import 'components/type';
@import 'components/nav';
@import 'components/header';
@import 'components/sectionprojet';
@import 'components/sectionphoto';
@import 'components/sectionapropos';
@import 'components/presentationprojets';

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #171717;
    font-size: 18px;
    color: white;
    line-height: 29px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}

.noscroll {
    overflow: hidden;
}

h1 {
    font-weight: 600;
    font-size: 220px;
    line-height: 200px;
    border-left: 1px solid #ffa800;
    margin: 20px 0px 20px 35px;

    padding: 50px;


}

h2 {
    font-weight: 550;
    font-style: italic;
    font-size: 220px;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 170px;
    font-weight: 600;
    margin: 0;
    line-height: 170px;
    margin-bottom: 60px;

    span {
        color: #ffa800;
    }
}

p {
    padding: 0;
    margin: 0;
}

.textbold {
    font-weight: 800;
}

@media(min-width:1280px) {}